.app-logo-copy {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app-logo' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-logo-copy > img {
  display: flex;
  width: 48px;
  height: 48px;
}
